<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>SpendHawk</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="/css/960gs/reset.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/960gs/text.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/960gs/960_12_10_10.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/chart_of_accounts_table.css" />
</head>
<body>

<div class="container_12">
    <h2>Chart of Accounts:</h2>
    <table id="chart_of_accounts">
        <tr>
            <th>Name</th>
            <th>Balance</th>
        </tr>

        <tr th:each="account : ${user.accounts}">
            <td class="account_cell">
                    <a href="#" th:text="${account.name}">Account 1</a>
            </td>
            <td class="coa_balance" th:text="${account.balance}">0.00</td>
        </tr>
    </table>
</div>


</body>
</html>
