div.accountnav {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    text-align: center;
}

img.navbutton {
    width: 32px;
    height: 32px;
    vertical-align: middle;
}

a.navlink {
    margin-left: 5px;
    margin-right: 5px;
}