<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>SpendHawk</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="/webjars/Semantic-UI/semantic.css" />
    <script src="/webjars/jquery/jquery.js"></script>
    <script src="/webjars/Semantic-UI/semantic.js"></script>
</head>
<body>

<div class="ui grid container">
    <div class="ui four column grid">
        <div class="row">
            <div class="column">
                <h1 class="ui header">Chart of Accounts:</h1>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <a th:href="@{/user}">
                <button class="ui basic left floated button">
                    <i class="icon arrow left"></i>
                    Users
                </button>
                </a>
                <a th:href="@{|/user/${user.id}/account/add|}">
                    <button class="ui basic right floated button">
                        <i class="icon add circle"></i>
                        Add Account
                    </button>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <table class="ui celled striped table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="account : ${user.accounts}">
                            <td class="account_cell">
                                <a href="#" th:text="${account.name}">Account 1</a>
                            </td>
                            <td class="coa_balance" th:text="${account.balance}">0.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


</body>
</html>
