<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>SpendHawk</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="/webjars/Semantic-UI/semantic.css" />
</head>
<body>

<div class="ui grid container">
    <div class="ui four column grid">
        <div class="row">
            <div class="column">
                <h1 class="ui header">Create account:</h1>
            </div>
        </div>

        <a th:href="@{/user/${user.id}}">
            <button class="ui basic button">
                <i class="icon">
                    <div class="ui middle aligned image">
                        <svg width="1.18em" height="1.18em">
                            <image xlink:href="/images/back.svg" x="0" y="0" width="100%" height="100%">
                            </image>
                        </svg>
                    </div>
                </i>
                Back
            </button>
        </a>

        <form class="ui form" method="post">
            <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
                <div class="ui column">
                    <div class="field">
                        <label>Account Name</label>
                        <input name="accountName" placeholder="Account Name" type="text"/>
                        <input name="userId" type="hidden" th:value="${user.id}"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="ui column">
                    <div class="ui top attached tabular menu">
                        <div class="active item">Add Transactions</div>
                    </div>
                    <div class="ui bottom attached active tab segment">
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input name="accountType" tabindex="0" class="hidden" type="radio" value="blank"/>
                                <label>Account with no transactions</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input name="accountType" tabindex="0" class="hidden" type="radio" value="csv"/>
                                <label>Import transactions from CSV</label>
                            </div>
                        </div>
                        <div class="field">
                            <input name="csvFile" type="file"/>
                        </div>
                    </div>

                    <button class="ui button" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="/webjars/jquery/jquery.js"></script>
<script src="/webjars/Semantic-UI/semantic.js"></script>

<script>
$('.ui.radio.checkbox').checkbox();
</script>

</body>
</html>