<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>SpendHawk</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="/webjars/bootstrap/3.3.7/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/breadcrumb-tweak.css" />
</head>
<body>

<div class="container">
    <nav class="navbar navbar-static-top" role="navigation">
        <ul class="nav navbar-nav navbar-left">
            <ol class="breadcrumb">
                <li><a href="#" th:href="@{/user}">SpendHawk</a></li>
                <li class="active">Add User</li>
            </ol>
        </ul>
    </nav>

    <form method="post" th:object="${userForm}">
        <div class="form-group" th:classappend="${#fields.hasErrors('username')}? has-error">
            <label for="usernameField" class="control-label">Username</label>
            <input id="usernameField" class="form-control" type="text"
                   th:field="*{username}" placeholder="Username" />
            <p class="help-block"
               th:if="${#fields.hasErrors('username')}"
               th:errors="*{username}">Invalid username</p>
        </div>
        <button class="btn btn-default" type="submit">Submit</button>

    </form>
</div>

<script src="/webjars/jquery/3.2.1/dist/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7/dist/js/bootstrap.min.js"></script>

</body>
</html>