<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>SpendHawk</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="/webjars/bootstrap/3.3.7/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/breadcrumb-tweak.css" />
</head>
<body>

<div class="container">
    <nav class="navbar navbar-static-top" role="navigation">
        <ul class="nav navbar-nav navbar-left">
            <ol class="breadcrumb">
                <li><a href="#" th:href="@{/user}">SpendHawk</a></li>
                <li><a href="#"
                       th:href="@{|/user/${user.id}|}"
                       th:text="${user.name}">User</a></li>
                <li class="active">Create Account</li>
            </ol>
        </ul>
    </nav>

    <form method="post" enctype="multipart/form-data" th:object="${accountForm}">
        <div class="form-group">
            <label for="formAccountName">Account Name</label>
            <input class="form-control"
                   id="formAccountName"
                   name="accountName" placeholder="Account Name" type="text"
                   th:field="*{accountName}" />
        </div>


        <h3>Transaction Import</h3>

        <div class="form-group">
            <div class="radio">
                <label>
                    <input name="accountType" tabindex="0" type="radio" value="blank"/>
                    Account with no transactions
                </label>
            </div>

            <div class="radio">
                <label>
                    <input name="accountType" tabindex="0" type="radio" value="csv"/>
                    Import transactions from CSV
                </label>
            </div>

            <label for="csvFileInput">CSV file:</label>
            <input type="file" id="csvFileInput" name="csvFile"/>
        </div>

        <input name="userId" type="hidden" th:value="${user.id}"/>

        <button class="btn btn-default" type="submit">Create Account</button>
    </form>
</div>

<script src="/webjars/jquery/3.2.1/dist/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7/dist/js/bootstrap.min.js"></script>

</body>
</html>